{% extends 'empty_page.twig' %}
{% block title %}Log in{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <h1>Test login field designU</h1>
        </div>
    </div>
{% endblock %}