{% extends 'partials/page.twig' %}
{% block title %}About Pxl{% endblock %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <div class="welcome-msg">
                    <div class="center"><img src="{{ asset('img/logo/Px-logo-cut-small.png') }}"></div>
                    <h2 class="center">Open Source Image Sharing</h2>
                    <p>Pxl is Max Korlaar's open source image sharing and hosting platform built on the concept of Pxl.lt.</p>
                    <img src="{{ asset('img/about/gallery_screenshot.png') }}" class="responsive-img right">
                    <p>The project is built on top of the PHP framework Laravel and may be freely forked on Github.
                        If you would like to contribute to the project, you are entirely free to do so.</p>
                    <p>Unlike Pxl.lt, this project is intended to be fully self-hosted and managed. I do not provide a free or paid service to the public,
                        in the hopes of people enjoying the project themselves and improving it. Pxl does have a feature to allow public registrations, but for private instances
                        you should keep this disabled.</p>
                    <p>You might see a different branding than 'Pxl' on this instance of Pxl. That is normal, since I have added an option to configure the
                        web application's name to your own branding.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}