<!DOCTYPE html>
<html>
<head>
    {% include 'head.twig' %}
    <title>{% block title %}{{ config_get('app.name') }}{% endblock %}</title>
</head>
<body>
{% block body %}
{% block navigation %}
    {% include 'navigation.twig' %}
{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/app.js?v=1.0') }}"></script>
    <script src="{{ asset('js/pixl.js?v=13') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>