{% extends 'page.twig' %}
{% block title %}Welcome to Pxl{% endblock %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <div class="welcome-msg">
                    <div class="center"><img src="{{ asset('img/logo/Px-logo-cut.png') }}"></div>
                    <h2 class="center">Open Source Image Sharing</h2>

                    <p class="light">Find us on Github.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}