<!DOCTYPE html>
<html class="error-page">
<head>
    {% include 'partials/head.twig' %}
    <title>Bad Request – {{ config_get('app.name') }}</title>
</head>
<body class="error-page">
<div class="container">
    <div class="content">
        <img src="{{ asset('img/logo/Px-logo-cut.png') }}">

        <div class="title">{{ error | default('Bad Request') }}</div>
    </div>
</div>
</body>
</html>