<!DOCTYPE html>
<html class="error-page">
<head>
    {% include 'head.twig' %}
    <title>404 Not Found – {{ config_get('app.name') }}</title>
</head>
<body class="error-page">
<div class="container">
    <div class="content">
        <img src="https://raw.githubusercontent.com/MaxKorlaar/Pxl/master/public/img/logo/Px-logo-cut.png">

        <div class="title">404 Not Found</div>
    </div>
</div>
</body>
</html>