<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Max Korlaar">
    <meta name="generator" content="Max Korlaar's Pxl <github.com/maxkorlaar/pxl>">
    <title>Be right back.</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            color: #B0BEC5;
            display: table;
            font-weight: 100;
            font-family: 'Lato', sans-serif;
            -webkit-animation: backgroundColours 30s ease infinite;
            animation: backgroundColours 30s ease infinite;
            background: -webkit-linear-gradient(211deg, #4BC114, #1499C1, #E90B1F, #0E16AF, #FED631);
            background: linear-gradient(239deg, #4BC114, #1499C1, #E90B1F, #0E16AF, #FED631);
            background-size: 1000% 1000%;
        }

        @-webkit-keyframes backgroundColours {
            0% {
                background-position: 0 51%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 51%;
            }
        }

        @keyframes backgroundColours {
            0% {
                background-position: 0 51%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 51%;
            }
        }

        .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .content {
            text-align: center;
            display: inline-block;
        }

        .title {
            font-size: 72px;
            margin-bottom: 40px;
        }

        img {
            max-height: 250px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <img src="https://raw.githubusercontent.com/MaxKorlaar/Pxl/master/public/img/logo/Px-logo-cut.png">

        <div class="title">{{ config_get('app.name') }} is under maintenance.</div>
    </div>
</div>
</body>
</html>
