<!DOCTYPE html>
<html>
<head>
    {% include 'head.twig' %}
    <title>{% block title %}?{% endblock %} – {{ config_get('app.name') }}</title>
</head>
<body>
{% block body %}
    <div class="container page-content">
        {% block content %}
        {% endblock %}
    </div>
{% block scripts %}
    <script src="{{ asset('js/app.js?v=1.0') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>