<!DOCTYPE html>
{% block html %}
<html>
{% endblock %}
<head>
    {% block head %}
        {% include 'partials/head.twig' %}
        <title>{% block title %}?{% endblock %} – {{ config_get('app.name') }}</title>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container page-content">
        {% block content %}
        {% endblock %}
    </div>
{% block scripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>