<!DOCTYPE html>
<html>
<head>
    {% include 'partials/head.twig' %}
    <title>{% block title %}?{% endblock %} – {{ config_get('app.name') }}</title>
</head>
<body>
{% block body %}
    {% block navigation %}
        {% include 'partials/navigation.twig' %}
    {% endblock %}

    <div class="container page-content">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
        {% include 'partials/footer.twig' %}
    {% endblock %}
{% block scripts %}
    <script src="{{ asset('js/app.js?v=1.0') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>