// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Lato:100);
// Variables
@import "variables";

@import "login";

body, html {
  height:100%;
}

nav .brand-logo {
  max-height: 64px;
  padding: 10px 10px 10px;
}

.welcome-msg, .welcome-msg h2 {
  font-family: Lato, serif;
  font-weight: 100;
  img {
    max-height: 400px;
  }
}

.page-content {
  min-height: 75vh;
}

.error-page {
  body, html {
    height: 100%;
  }
  height: 100%;
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #B0BEC5;
    display: table;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
  }

  .container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .content {
    text-align: center;
    display: inline-block;
  }

  .title {
    font-size: 72px;
    margin-bottom: 40px;
  }

  img {
    max-height: 250px;
    padding-bottom: 20px;
  }
}