// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Lato:100);
// Variables
@import "variables";
@import "animations";
@import "login";
@import "error";

body, html {
  height: 100%;
}

nav .brand-logo {
  max-height: 64px;
  padding: 10px 10px 10px;
}

.welcome-msg, .welcome-msg h2 {
  font-family: Lato, serif;
  font-weight: 100;
  img {
    max-height: 400px;
  }
}

.page-content {
  min-height: 75vh;
}

.token {
  word-wrap: break-word;
}